@model IEnumerable<AdresseBelgique.Models.Commune>

@{
    ViewBag.Title = "Index";
}

<h2>les communes</h2>
<div class="container ">
    <div class="panel panel-primary">
        <div class="panel-heading">la liste des communes </div>   
        <div class="panel-body">
            <div>
                <form method="post" asp-action="Search">
                    <div class="form-group">
                        <input type="text" name="keyword" id="myInput" placeholder="filtrer par mot clé.." class="form-control" />
                    </div>
                </form>
            </div>


            <table class="table table-hover table-condensed table-striped ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cps)
                        </th>

                       
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
            <tbody id="myTable">
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.nom)*@
                        @Html.ActionLink(item.nom,"GetRues","rue",new { commune = item.nom },null)     @*item.nom, "Details",new { item.nom }*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cps)
                       @*@Html.ActionLink(item.cps, "Index", "codePostal", new { codepostal = item.cps },null)*@

                    </td>

                  
                </tr>
            </tbody>
                }

            </table>
        </div>
    </div>
    </div>
    
